<!doctype html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title Dashboard | Admire</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/js")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/img/logo1.ico" />
    <!--global styles-->
    <link type="text/css" rel="stylesheet" href="~/Content/css/components.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/custom.css" />
    <!-- end of global styles-->
    <link type="text/css" rel="stylesheet" href="~/Content/css/c3.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/toastr.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/switchery.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/new_dashboard.css" />
    <link type="text/css" rel="stylesheet" href="#" id="skin_change" />
</head>
<div class="bg-container">
    <body class="body">
        <div class="preloader" style=" position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 100000;backface-visibility: hidden;background: #ffffff;">
            <div class="preloader_img" style="width: 200px;height: 200px;position: absolute;left: 48%;top: 48%;background-position: center;z-index: 999999">
                <img src="~/Content/img/loader.gif" style="width: 40px;" alt="loading...">
            </div>
        </div>
        <div class="bg-dark" id="wrap">
            <div id="top">
                <!-- .navbar -->
                <nav class="navbar navbar-static-top">
                    <div class="container-fluid m-0">
                        <a class="navbar-brand float-left text-center" href="index.html">
                            <h4 class="text-white"><img src="img/logow.png" class="admin_img" alt="logo"> BPMOTO PEÇAS</h4>
                        </a>
                        <div class="menu">
                            <span class="toggle-left" id="menu-toggle">
                                <i class="fa fa-bars text-white"></i>
                            </span>
                        </div>
                        <div class="topnav dropdown-menu-right float-right">
                            <div class="btn-group">
                                <div class="notifications no-bg">
                                    <a class="btn btn-default btn-sm messages" data-toggle="dropdown">
                                        <i class="fa fa-envelope fa-1x text-white"></i>
                                        <!--<span class="bg-warning message_tags">4</span>-->
                                        <span class="badge badge-warning">8</span>
                                    </a>
                                    <div class="dropdown-menu drop_box_align" role="menu" id="messages_dropdown">
                                        <div class="popover-title">You have 8 Messages</div>
                                        <div id="messages">
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/5.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <strong>hally</strong> sent you an image.
                                                        <br>
                                                        <small>add to timeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/8.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <strong>Meri</strong> invitation for party.
                                                        <br>
                                                        <small>add to timeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/7.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <strong>Remo</strong> meeting details .
                                                        <br>
                                                        <small>add to timeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/6.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <strong>David</strong> upcoming events list.
                                                        <br>
                                                        <small>add to timeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/5.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <strong>hally</strong> sent you an image.
                                                        <br>
                                                        <small>add to timeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/8.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <strong>Meri</strong> invitation for party.
                                                        <br>
                                                        <small>add to timeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/7.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <strong>Remo</strong> meeting details .
                                                        <br>
                                                        <small>add to timeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/6.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <strong>David</strong> upcoming events list.
                                                        <br>
                                                        <small>add to timeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popover-footer">
                                            <a href="mail_inbox.html">Inbox</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="notifications messages no-bg">
                                    <a class="btn btn-default btn-sm" data-toggle="dropdown">
                                        <i class="fa fa-bell text-white"></i>
                                        <!--<span class="bg-danger notification_tags">4</span>-->
                                        <span class="badge badge-danger">9</span>
                                    </a>
                                    <div class="dropdown-menu drop_box_align" role="menu">
                                        <div class="popover-title">You have 9 Notifications</div>
                                        <div id="notifications">
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/1.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>Remo</strong> sent you an image
                                                        <br>
                                                        <small class="primary_txt">just now.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/2.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>clay</strong> business propasals
                                                        <br>
                                                        <small class="primary_txt">20min Back.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/3.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>John</strong> meeting at Ritz
                                                        <br>
                                                        <small class="primary_txt">2hrs Back.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/6.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>Luicy</strong> Request Invitation
                                                        <br>
                                                        <small class="primary_txt">Yesterday.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/1.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>Remo</strong> sent you an image
                                                        <br>
                                                        <small class="primary_txt">just now.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/2.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>clay</strong> business propasals
                                                        <br>
                                                        <small class="primary_txt">20min Back.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/3.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>John</strong> meeting at Ritz
                                                        <br>
                                                        <small class="primary_txt">2hrs Back.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/6.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>Luicy</strong> Request Invitation
                                                        <br>
                                                        <small class="primary_txt">Yesterday.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="img/mailbox_imgs/1.jpg" class="message-img avatar rounded-circle" alt="avatar1">
                                                    </div>
                                                    <div class="col-10 message-data">
                                                        <i class="fa fa-clock-o"></i>
                                                        <strong>Remo</strong> sent you an image
                                                        <br>
                                                        <small class="primary_txt">just now.</small>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popover-footer">
                                            <a href="#">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm messages toggle-right">
                                    &nbsp;
                                    <i class="fa fa-cog text-white"></i>
                                    &nbsp;
                                </a>
                            </div>
                            <div class="btn-group">
                                <div class="user-settings no-bg">
                                    <button type="button" class="btn btn-default no-bg micheal_btn" data-toggle="dropdown">
                                        <img src="img/admin.jpg" class="admin_img2 rounded-circle avatar-img" alt="avatar"> <strong>Micheal</strong>
                                        <span class="fa fa-sort-down white_bg"></span>
                                    </button>
                                    <div class="dropdown-menu admire_admin">
                                        <a class="dropdown-item title" href="#">
                                            Admire Admin
                                        </a>
                                        <a class="dropdown-item" href="edit_user.html">
                                            <i class="fa fa-cogs"></i>
                                            Account Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-user"></i>
                                            User Status
                                        </a>
                                        <a class="dropdown-item" href="mail_inbox.html">
                                            <i class="fa fa-envelope"></i>
                                            Inbox
                                        </a>
                                        <a class="dropdown-item" href="lockscreen.html">
                                            <i class="fa fa-lock"></i>
                                            Lock Screen
                                        </a>
                                        <a class="dropdown-item" href="login.html">
                                            <i class="fa fa-sign-out"></i>
                                            Log Out
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-toggleable-sm col-xl-6 col-lg-6 hidden-md-down float-right  top_menu" id="nav-content">
                            <ul class="nav navbar-nav top_menubar">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="mail_inbox.html">
                                        <i class="fa fa-inbox"></i> <span class="quick_text">Inbox</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="mail_compose.html">
                                        <i class="fa fa fa-edit"></i> <span class="quick_text">Compose</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="maps.html">
                                        <i class="fa fa-map-marker"></i> <span class="quick_text">Maps</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="gallery.html">
                                        <i class="fa fa-picture-o"></i> <span class="quick_text">Gallery</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <!-- /.navbar -->
                <!-- /.head -->
            </div>
            <!-- /#top -->
            <div class="wrapper">
                <div id="left">
                    <div class="media user-media bg-dark dker">
                        <div class="user-media-toggleHover">
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="user-wrapper bg-dark">
                            <a class="user-link" href="">
                                <img class="media-object img-thumbnail user-img rounded-circle admin_img3" alt="User Picture"
                                     src="img/admin.jpg">
                                <p class="text-white user-info">Welcome Micheal</p>
                            </a>
                        </div>
                    </div>
                    <!-- #menu -->
                    <ul id="menu" class="bg-blue dker">
                        <li class="active">
                            <a href="index.html">
                                <i class="fa fa-home"></i>
                                <span class="link-title">&nbsp;Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-anchor"></i>
                                <span class="link-title">&nbsp; Components</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul>
                                <li><i class="fa fa-angle-right"></i>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li><i class="fa fa-angle-right"></i>@Html.ActionLink("About", "About", "Home")</li>
                                <li><i class="fa fa-angle-right"></i>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li><i class="fa fa-angle-right"></i>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                            </ul>
                    </ul>
                    <!-- /#menu -->
                </div>
                <!-- /#left -->
                <div id="content" class="bg-container">
                    @RenderBody()
                    <!-- /#content -->
                </div>
            </div>
            <!--wrapper-->
            <div id="right">
                <div class="right_content">
                    <div class="alert alert-success white_txt">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>
                            Welcome Micheal
                            <br />
                        </strong> Set Your Skin Here. Checkout Admin Statistics. Good Day!.
                    </div>
                    <div class="well well-small dark">
                        <div class="xs_skin_hide hidden-sm-up toggle-right"> <i class="fa fa-cog"></i></div>
                        <h4 class="brown_txt">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                            </span> Skins
                        </h4>
                        <br />
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('blue_black_skin.css','css')">
                            <div class="skin_blue skin_size"></div>
                            <div class="skin_black skin_size"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('green_black_skin.css','css')">
                            <div class="skin_green skin_size"></div>
                            <div class="skin_black skin_size"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('purple_black_skin.css','css')">
                            <div class="skin_purple skin_size"></div>
                            <div class="skin_black skin_size"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('orange_black_skin.css','css')">
                            <div class="skin_orange skin_size"></div>
                            <div class="skin_black skin_size"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('red_black_skin.css','css')">
                            <div class="skin_red skin_size"></div>
                            <div class="skin_black skin_size"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('mint_black_skin.css','css')">
                            <div class="skin_mint skin_size"></div>
                            <div class="skin_black skin_size"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('brown_black_skin.css','css')">
                            <div class="skin_brown skin_size"></div>
                            <div class="skin_black skin_size"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('black_skin.css','css')">
                            <div class="skin_black skin_size"></div>
                            <div class="skin_black skin_size"></div>
                        </div>
                        <div class="skin_btn skin_blue" onclick="javascript:loadjscssfile('blue_skin.css','css')"></div>
                        <div class="skin_btn skin_green" onclick="javascript:loadjscssfile('green_skin.css','css')"></div>
                        <div class="skin_btn skin_purple" onclick="javascript:loadjscssfile('purple_skin.css','css')"></div>
                        <div class="skin_btn skin_orange" onclick="javascript:loadjscssfile('orange_skin.css','css')"></div>
                        <div class="skin_btn skin_red" onclick="javascript:loadjscssfile('red_skin.css','css')"></div>
                        <div class="skin_btn skin_mint" onclick="javascript:loadjscssfile('mint_skin.css','css')"></div>
                        <div class="skin_btn skin_brown" onclick="javascript:loadjscssfile('brown_skin.css','css')"></div>
                        <div class="skin_btn skin_black" onclick="javascript:loadjscssfile('black_skin.css','css')"></div>
                    </div>
                    <div class="well well-small dark">
                        <h4 class="brown_txt margin15_bottom">
                            <img src="img/admin.jpg" width="32" height="32" class="rounded-circle avatar-img" alt="avatar"> &nbsp;Admin
                            Statistics
                        </h4>
                        <br />
                        <ul class="list-unstyled">
                            <li class="green_txt margin15_bottom">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x text-mint"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span> &nbsp; Last Login
                                <span class="inlinesparkline float-right">2hrs Back</span>
                            </li>
                            <li class="warning_txt margin15_bottom">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x text-brown"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span> &nbsp; Pending Tasks
                                <span class="dynamicsparkline float-right">12</span>
                            </li>
                            <li class="primary_txt margin15_bottom">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                                </span> &nbsp; Weather Today
                                <span class="dynamicbar float-right">Rainy</span>
                            </li>
                            <li class="margin15_bottom">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x text-brown"></i>
                                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                                </span> &nbsp; Events
                                <span class="inlinebar float-right">Team Out</span>
                            </li>
                            <li class="success_txt margin15_bottom">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                                    <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                                </span> &nbsp; Notifications
                                <span class="inlinebar float-right">5</span>
                            </li>
                        </ul>
                    </div>
                    <div class="well well-small dark right_progressbar_section">
                        <h4 class="brown_txt">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x text-brown"></i>
                                <i class="fa fa-hand-o-down fa-stack-1x fa-inverse"></i>
                            </span> Alerts
                        </h4>
                        <br />
                        <span>Sales Improvement</span>
                        <span class="float-right">
                            <small>20%</small>
                        </span>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>Server Load</span>
                        <span class="float-right">
                            <small>80%</small>
                        </span>
                        <div class="progress">
                            <div class="progress-bar bg-mint" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>Traffic Improvement</span>
                        <span class="float-right">
                            <small>55%</small>
                        </span>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- # right side -->
        </div>
        <!-- /#wrap -->
        <!-- global scripts-->
        <script type="text/javascript" src="~/Content/js/components.js"></script>
        <script type="text/javascript" src="~/Content/js/custom.js"></script>
        <!-- global scripts end-->
        <script type="text/javascript" src="~/Content/js/raphael-min.js"></script>
        <script type="text/javascript" src="~/Content/js/d3.min.js"></script>
        <script type="text/javascript" src="~/Content/js/c3.min.js"></script>
        <script type="text/javascript" src="~/Content/js/toastr.min.js"></script>
        <script type="text/javascript" src="~/Content/js/switchery.min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flot.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flot.stack.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flot.time.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flot.spline.min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flot.categories.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flot.tooltip.min.js"></script>
        <script type="text/javascript" src="~/Content/js/newsTicker.js"></script>
        <script type="text/javascript" src="~/Content/js/countUp.min.js"></script>
        <!--end of plugin scripts-->
        <script type="text/javascript" src="~/Content/js/new_dashboard.js"></script>
    </body>
</div>
</html>