<!DOCTYPE html>
<html lang="en">
@RenderPage("~/Views/Shared/Modulo/Head.cshtml")
<body class="page-body">
    @RenderPage("~/Views/Shared/Modulo/Usuario.cshtml")
    <div class="page-container">
        @RenderPage("~/Views/Shared/Modulo/Menu.cshtml")
        <div class="main-content">
            @RenderPage("~/Views/Shared/Modulo/Cabecalho.cshtml")
            <script>
                jQuery(document).ready(function ($) {
                    $('a[href="#layout-variants"]').on('click', function (ev) {
                        ev.preventDefault();
                        var win = { top: $(window).scrollTop(), toTop: $("#layout-variants").offset().top - 15 };
                        TweenLite.to(win, .3, {
                            top: win.toTop, roundProps: ["top"], ease: Sine.easeInOut, onUpdate: function () {
                                $(window).scrollTop(win.top);
                            }
                        });
                    });
                });
            </script>
            @RenderBody()
            @RenderPage("~/Views/Shared/Modulo/Footer.cshtml")
        </div>
        @RenderPage("~/Views/Shared/Modulo/ChatSection.cshtml")
    </div>
    @RenderPage("~/Views/Shared/Modulo/Script.cshtml")
</body>
</html>